<template>
    <div class="featurette">
        <h4>Temos um novo jogador!</h4>
        <div class="alert alert-danger" v-if="error.error == true">
            {{ error.msg }}
        </div>
        <input type="text" v-model="player.name" class="form-control" placeholder="Player Name" />
        <button type="button" class="btn btn-success" v-on:click="addPlayer">Adicionar à festa</button>
    </div>
</template>

<script>

    export default{
        data(){
            return{
                player : {
                    'name' : ''
                },
                error : {
                    status : false,
                    msg : ""
                }
            }
        },
        methods : {
            addPlayer : function()
            {
                this.$http.post('/api/players', this.player)
                .then((response) => {
                    let responseData = JSON.parse(response.data);
                    this.error = responseData;
                    if(! responseData.error){
                        this.player = responseData.player;
                        this.$emit('player-added', this.playerCopy());
                    }
                }, (error) => {
                    this.error.status = true;
                    this.error.msg = "Whoops! Alguma coisa correu mal.";
                });
            },

            playerCopy : function() {
                var playerAdded = {'name' : ''};
                playerAdded.name =  this.player.name;
                return playerAdded;
            }
        },
        components:{

        }
    }
</script>
