<template>
    <div class="featurette">
        <br />
        <h3 v-on:click="toggleForm">Mais um jogo feito!</h3>
        <br />
        <div class="row" v-show="showing">
            <div class="col-md-12">
            <div class="row">
                <div class="col-md-5">
                    Jogador 1:
                    <select v-model="result.player_1" class="form-control" >
                        <option v-for="player in players" v-bind:value="player.id">{{ player.name }}</option>
                    </select>

                    Equipa:
                    <input type="text" v-model="result.player_1_team" class="form-control" placeholder="Equipa Jog. 1" />
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-5">
                    Jogador 2:
                    <select v-model="result.player_2" class="form-control" >
                        <option v-for="player in players" v-bind:value="player.id">{{ player.name }}</option>
                    </select>
                    Equipa:
                    <input type="text" v-model="result.player_2_team" class="form-control" placeholder="Equipa Jog. 2" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-11 text-center">
                    Resultado:
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <input type="text" v-model="result.player_1_goals" class="form-control" />
                </div>
                <div class="col-md-1 text-center">
                    -
                </div>
                <div class="col-md-5">
                    <input type="text" v-model="result.player_2_goals" class="form-control"/>
                </div>
            </div>

            <br />
            <button type="button" class="btn btn-success" v-on:click="addMatch">Feito!</button>
            </div>
        </div>
    </div>
</template>

<script>

    export default{
        props : ['players', 'season'],
        data(){
            return{
                result : {
                    'player_1' : -1,
                    'player_2' : -1,
                    'player_1_team' : '',
                    'player_2_team' : '',
                    'player_1_goals' : 0,
                    'player_2_goals' : 0,
                    'season' : this.season
                },
                error : {
                    status : false,
                    msg : ""
                },
                showing: true
            }
        },
        methods : {
            addMatch : function()
            {
                this.result['season'] = this.season;

                this.$http.post('/api/match', this.result)
                .then((response) => {
                    let responseData = JSON.parse(response.data);
                    this.error = responseData;
                    if(! responseData.error){
                        this.result = responseData.match;
                        this.$emit('match-added', this.matchCopy());
                        this.result = {
                            'player_1' : -1,
                            'player_2' : -1,
                            'player_1_team' : '',
                            'player_2_team' : '',
                            'player_1_goals' : 0,
                            'player_2_goals' : 0,

                        };
                    }
                }, (error) => {
                    this.error.status = true;
                    this.error.msg = "Whoops! Alguma coisa correu mal.";
                });
            },

            matchCopy : function() {
                var matchAdded = {
                    'player_1' : this.result.player_1,
                    'player_2' : this.result.player_2,
                    'player_1_team' : this.result.player_1_team,
                    'player_2_team' : this.result.player_2_team,
                    'player_1_goals' : this.result.player_1_goals,
                    'player_2_goals' : this.result.player_2_goals
                };
                return matchAdded;
            },

            toggleForm : function() {
                //this.showing = ! this.showing;
                this.showing = true;
            }
        },
        components:{

        }
    }
</script>
