<template>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead style="background: rgb(32,167,102); color:white; border: 0;">
                <tr>
                    <th>Jogador</th>
                    <th>Vitorias</th>
                    <th>Derrotas</th>
                    <th>Empates</th>
                    <th>Classificação</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="player in players" v-on:click="openStats(player)">
                    <th>{{ player.name }}</th>
                    <th>{{ playerMatches(player.id).won }}</th>
                    <th>{{ playerMatches(player.id).lost }}</th>
                    <th>{{ playerMatches(player.id).draw }}</th>
                    <th>{{ playerResult(player.id) }}</th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>

    export default{
        props : ['players', 'results'],
        data(){
            return{
                stats : {
                    showing : false,
                    player : null,
                    matches : null
                },
                sorted : false
            }
        },

        watch: {
            results: function()
            {
                if(this.players.length > 0)
                    this.orderPlayers();

                return;
            },

            players : function()
            {
                if(this.sorted)
                    return;

                this.orderPlayers();
            }
        },
        methods: {

            orderPlayers : function()
            {
                var so = this;
                this.players.sort(function(elA, elB)
                {
                    return so.playerResult(elB.id) - so.playerResult(elA.id);
                });

                this.sorted = true;
            },
            openStats : function(player) {
                this.$emit("playerStats", player);
            },

            playerResult : function(playerId)
            {
                var playerMatches = this.playerMatches(playerId);

                var totalGames = playerMatches.won + playerMatches.lost + playerMatches.draw;
                var playerPoints = (playerMatches.won * 3) + playerMatches.draw;
                var maxPoints = totalGames * 3;

                return Math.floor( (playerPoints / maxPoints) * 100);
            },
            playerMatches : function(playerId) {
                var matches = {
                    'won' : 0,
                    'lost' : 0,
                    'draw' : 0
                };

                for ( var i = 0; i < this.results.length ; i++)
                {
                    if( this.results[i].player_1 != playerId && this.results[i].player_2 != playerId )
                        continue;

                    if(this.results[i].player_1_goals == this.results[i].player_2_goals)
                    {
                        matches.draw = matches.draw + 1;
                        continue;
                    }

                    if( this.results[i].player_1 == playerId
                    && this.results[i].player_1_goals > this.results[i].player_2_goals)
                    {
                        matches.won = matches.won + 1;
                    }

                    else if( this.results[i].player_1 == playerId
                    && this.results[i].player_1_goals < this.results[i].player_2_goals)
                    {
                        matches.lost = matches.lost + 1;
                    }

                    else if( this.results[i].player_2 == playerId
                    && this.results[i].player_2_goals > this.results[i].player_1_goals)
                    {
                        matches.won = matches.won + 1;
                    }

                    else if( this.results[i].player_2 == playerId
                    && this.results[i].player_2_goals < this.results[i].player_1_goals)
                    {
                        matches.lost = matches.lost + 1;
                    }
                }

                return matches;
            },
        }
    }
</script>
