<template>
    <div class="featurette">
        <h2 class="featurette-heading">Jogadores na festa</h2>
        <div class="row">
            <div class="col-md-9">
                <classification-table :players="players" :results="results" v-on:playerStats="openStats"></classification-table>
            </div>
            <div class="col-md-3">
                <div class="panel panel-success" v-on:click="openStats(player)">
                    <div class="panel-heading text-center">
                        <h1 class="panel-title">
                            Melhor Jogador <i class="fa fa-trophy"></i>
                        </h1>
                    </div>
                    <div class="panel-body text-center">
                        <span v-if="bestPlayer() != null">{{ bestPlayer().name }}</span>
                        <span v-if="bestPlayer() == null">A determinar...</span>
                    </div>
                </div>
            </div>

        </div>

        <hr v-if="stats.showing"  id="player_stats"/>

        <div class="row" v-if="stats.showing">
            <div class="col-md-12"><h3>Estatisticas do jogador {{ stats.player.name }}</h3></div>
        </div>

        <player-stats v-show="stats.showing" :player="stats.player" :matches="stats.matches"></player-stats>
        <div class="row">
            <div class="col-md-3">
                <last-games-sequence v-show="stats.showing" :player="stats.player" :matches="results"></last-games-sequence>
            </div>
        </div>
        <compare-players v-show="stats.showing" :players="players" :player="stats.player" :matches="results"></compare-players>

    </div>
</template>

<script>

    import PlayerStats from './stats/PlayerStats.vue'
    import LastFiveGames from './stats/LastThreeGames.vue'
    import PlayerComparison from './stats/StatsBetweenPlayers.vue'

    export default{
        props : ['players', 'results'],
        data(){
            return{
                stats : {
                    showing : false,
                    player : null,
                    matches : null
                }
            }
        },

        methods : {
            playerMatches : function(playerId) {
                var matches = {
                    'won' : 0,
                    'lost' : 0,
                    'draw' : 0
                };

                for ( var i = 0; i < this.results.length ; i++)
                {
                    if( this.results[i].player_1 != playerId && this.results[i].player_2 != playerId )
                        continue;

                    if(this.results[i].player_1_goals == this.results[i].player_2_goals)
                    {
                        matches.draw = matches.draw + 1;
                        continue;
                    }

                    if( this.results[i].player_1 == playerId
                    && this.results[i].player_1_goals > this.results[i].player_2_goals)
                    {
                        matches.won = matches.won + 1;
                    }

                    else if( this.results[i].player_1 == playerId
                    && this.results[i].player_1_goals < this.results[i].player_2_goals)
                    {
                        matches.lost = matches.lost + 1;
                    }

                    else if( this.results[i].player_2 == playerId
                    && this.results[i].player_2_goals > this.results[i].player_1_goals)
                    {
                        matches.won = matches.won + 1;
                    }

                    else if( this.results[i].player_2 == playerId
                    && this.results[i].player_2_goals < this.results[i].player_1_goals)
                    {
                        matches.lost = matches.lost + 1;
                    }
                }

                return matches;
            },

            bestPlayer : function()
            {
                var bestP = null;
                var bestPPerc = 0;
                for(var i = 0; i < this.players.length; i++)
                {
                    var playerMat = this.playerMatches(this.players[i].id);

                    var total = playerMat.won + playerMat.lost + playerMat.draw;
                    var totalPoints =  playerMat.won * 3 + playerMat.draw;
                    var rate = totalPoints / (total * 3);
                    if(rate > bestPPerc)
                    {
                        bestP = this.players[i];
                        bestPPerc = rate;
                    }
                }

                return bestP;
            },

            openStats : function(player) {
                this.stats.player = player;
                this.stats.matches = this.playerMatches(player.id);
                this.stats.showing = true;

                setTimeout(function(){
                    $('html, body').animate({
                        scrollTop: $("#player_stats").offset().top - 10
                      }, 800, function(){
                         window.location.hash = "player_stats";
                      });
                }, 100);

            }
        },
        components:{
            'player-stats':PlayerStats,
            'compare-players':PlayerComparison,
            'last-games-sequence':LastFiveGames
        }
    }
</script>
