<template>
    <div class="featurette">
        <h2 class="featurette-heading">Resultados</h2>

        <table class="table table-hover">
            <thead style="background: rgb(32,167,102); color:white; border: 0;">
                <tr>
                    <th>Jogador 1</th>
                    <th>Jogador 2</th>
                    <th>Equipa Jog. 1</th>
                    <th>Equipa Jog. 2</th>
                    <th>Resultado</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="result in results">
                    <th>{{ playerName(result.player_1) }}</th>
                    <th>{{ playerName(result.player_2) }}</th>
                    <th>{{ result.player_1_team }}</th>
                    <th>{{ result.player_2_team }}</th>
                    <th>{{ result.player_1_goals }} - {{ result.player_2_goals }}</th>
                    <th>{{ result.created_at }}</th>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>

    export default{
        props : ['results', 'players'],
        data(){
            return{
            }
        },
        methods : {
            playerName : function(playerId)
            {
                for(var i = 0; i < this.players.length; i++)
                    if(this.players[i].id == playerId)
                        return this.players[i].name;
            }
        }
    }
</script>
