<template>
    <div class="row">
        <div class="col-md-6">
            <h2>Época Atual: <span v-html="season"></span></h2>
        </div>
        <div class="col-md-6">
            Epoca selecionada:
            <select class="form-control" v-model="selectedSeason" v-on:change="changeSeason">
                <option v-for="s in seasons" v-bind:value="s">{{ s }}</option>
            </select>
            <br />
            <button type="button" class="btn btn-warning" v-on:click="newSeason">Começar Nova Época</button>
        </div>
    </div>
</template>

<script>

    export default{
        props : ['season', 'seasons'],
        data : {
            selectedSeason : 1
        },
        watch: {
            season : function () { this.selectedSeason = this.season; }
        },
        methods: {
            newSeason : function(){
                this.$emit('new-season');
            },
            changeSeason : function(){
                this.$emit('change-season', this.selectedSeason);
            },
        }
    }
</script>
