<template>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading text-center">
                    <h3 class="panel-title">Ultimos 5 jogos</h3>
                </div>
                <div class="panel-body text-center" v-html="sequence.string">
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default{
        props: ['player', 'matches'],
        data(){
            return{
                matchesSortedByDate: [],
                sequence : {
                    string : ""
                }
            }
        },
        watch : {
            player : function() {
                this.updateMatchesSequence();
            }
        },
        methods : {
            playerFilter : function(player)
            {
                return function(element){
                    return (element.player_1 == player.id || element.player_2 == player.id);
                }
            },
            updateMatchesSequence : function(){
                this.matchesSortedByDate = this.matches;

                // Filter matches of player
                this.matchesSortedByDate.filter(this.playerFilter(this.player));

                // Sort matches by date
                this.matchesSortedByDate.sort(function(elementA, elementB){
                    return Date.parse(elementB.created_at) - Date.parse(elementA.created_at);
               });

                this.lastFiveGamesSequenceUpdateView();
            },


            lastFiveGamesSequenceUpdateView : function(){
                this.sequence.string = "";
                var count = 0;

                for(var i = 0; i < this.matchesSortedByDate.length; i++)
                {
                    if(count >= 5)
                        break;

                    if(this.matchesSortedByDate[i].player_1 != this.player.id &&
                        this.matchesSortedByDate[i].player_2 != this.player.id)
                        continue;

                    if(count > 0)
                        this.sequence.string = this.sequence.string + '|';

                    if(this.matchesSortedByDate[i].player_1 == this.player.id &&
                        this.matchesSortedByDate[i].player_1_goals > this.matchesSortedByDate[i].player_2_goals)
                        this.sequence.string = this.sequence.string + ' <span class="text-success">V </span>';

                    if(this.matchesSortedByDate[i].player_1 == this.player.id &&
                        this.matchesSortedByDate[i].player_1_goals < this.matchesSortedByDate[i].player_2_goals)
                        this.sequence.string = this.sequence.string + ' <span class="text-danger">D </span>';


                    if(this.matchesSortedByDate[i].player_1 == this.player.id &&
                        this.matchesSortedByDate[i].player_1_goals == this.matchesSortedByDate[i].player_2_goals)
                        this.sequence.string = this.sequence.string + ' <span class="text-warning">E </span>';

                    if(this.matchesSortedByDate[i].player_2 == this.player.id &&
                        this.matchesSortedByDate[i].player_1_goals > this.matchesSortedByDate[i].player_2_goals)
                        this.sequence.string = this.sequence.string + ' <span class="text-danger">D </span>';

                    if(this.matchesSortedByDate[i].player_2 == this.player.id &&
                        this.matchesSortedByDate[i].player_1_goals < this.matchesSortedByDate[i].player_2_goals)
                        this.sequence.string = this.sequence.string + ' <span class="text-success">V </span>';


                    if(this.matchesSortedByDate[i].player_2 == this.player.id &&
                        this.matchesSortedByDate[i].player_1_goals == this.matchesSortedByDate[i].player_2_goals)
                        this.sequence.string = this.sequence.string + ' <span class="text-warning">E </span>';

                    count++;
                }
            }
        }
    }
</script>
