<template>
    <div class="row" v-if="matches != null && player != null">
        <div class="col-md-3">
            <div class="panel panel-success" v-on:click="openStats(player)">
                <div class="panel-heading text-center">
                    <h3 class="panel-title">Vitorias  <i class="fa fa-trophy"></i></h3>
                </div>
                <div class="panel-body text-center">
                    {{ toPercentage(matches.won / (matches.won + matches.lost + matches.draw)) }} %
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-danger" v-on:click="openStats(player)">
                <div class="panel-heading text-center">
                    <h3 class="panel-title">Derrotas <i class="fa fa-times"></i></h3>
                </div>
                <div class="panel-body text-center">
                    {{ toPercentage(matches.lost / (matches.won + matches.lost + matches.draw)) }} %
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-warning" v-on:click="openStats(player)">
                <div class="panel-heading text-center">
                    <h3 class="panel-title">Empates  <i class="fa fa-handshake-o"></i></h3>
                </div>
                <div class="panel-body text-center">
                    {{ toPercentage(matches.draw / (matches.won + matches.lost + matches.draw)) }} %
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default{
        props: ['player', 'matches'],
        data(){
            return{

            }
        },
        methods : {
            toPercentage : function(value)
            {
                return (value * 100).toFixed(2);
            }
        }
    }
</script>
