<template>
    <div class="row" v-if="matches != null && player != null">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h3>Estatisticas de jogos entre dois jogadores!</h3>
                    <span class="text-info">Nesta secção são apresentadas estatisticas apenas dos jogos entre os dois jogadores selecionados.</span>
                    <br /><br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            Jogador 1:<br />
                            <input type="text" class="form-control" v-bind:value="player.name" disabled />
                        </div>
                    </div>

                    <div class="panel panel-info">
                        <div class="panel-heading text-center">
                            <h3 class="panel-title">
                                {{ player.name }}
                            </h3>
                        </div>
                        <div class="panel-body text-center">
                            <h4>Total Jogos</h4>
                            {{ comparisonStats.total_games }}
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="panel panel-success">
                                        <div class="panel-heading text-center">
                                            <h3 class="panel-title"># Vitorias  <i class="fa fa-trophy"></i></h3>
                                        </div>
                                        <div class="panel-body text-center">
                                            {{ comparisonStats.player_1.won }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="panel panel-warning">
                                        <div class="panel-heading text-center">
                                            <h3 class="panel-title"># Empates  <i class="fa fa-handshake-o"></i></h3>
                                        </div>
                                        <div class="panel-body text-center">
                                            {{ comparisonStats.player_1.draw }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="panel panel-danger">
                                        <div class="panel-heading text-center">
                                            <h3 class="panel-title"># Derrotas  <i class="fa fa-times"></i></h3>
                                        </div>
                                        <div class="panel-body text-center">
                                            {{ comparisonStats.player_1.lost }}
                                        </div>
                                    </div>
                                </div>
                            </div>





                            <div class="row">
                                <div class="col-md-4">
                                    <div class="panel panel-success">
                                        <div class="panel-heading text-center">
                                            <h3 class="panel-title">Vitoria <i class="fa fa-trophy"></i></h3>
                                        </div>
                                        <div class="panel-body text-center">
                                            {{ toPercentage(comparisonStats.player_1.won / comparisonStats.total_games) }} %
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="panel panel-warning">
                                        <div class="panel-heading text-center">
                                            <h3 class="panel-title">Empates  <i class="fa fa-handshake-o"></i></h3>
                                        </div>
                                        <div class="panel-body text-center">
                                            {{ toPercentage(comparisonStats.player_1.draw / comparisonStats.total_games) }} %
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="panel panel-danger">
                                        <div class="panel-heading text-center">
                                            <h3 class="panel-title">Derrotas  <i class="fa fa-times"></i></h3>
                                        </div>
                                        <div class="panel-body text-center">
                                            {{ toPercentage(comparisonStats.player_1.lost / comparisonStats.total_games) }} %
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            Jogador 2:
                            <select v-model="compareTo" class="form-control" v-on:change="compareChanged">
                                <option v-for="player in players" v-bind:value="player.id">{{ player.name }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="panel panel-info"  v-if="playerToCompare != null">
                        <div class="panel-heading text-center">
                            <h3 class="panel-title">{{ playerToCompare.name }}</h3>
                        </div>
                        <div class="panel-body text-center">
                            <h4>Total Jogos</h4>
                            {{ comparisonStats.total_games }}

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="panel panel-success">
                                        <div class="panel-heading text-center">
                                            <h3 class="panel-title"># Vitórias  <i class="fa fa-trophy"></i></h3>
                                        </div>
                                        <div class="panel-body text-center">
                                            {{ comparisonStats.player_2.won }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="panel panel-warning">
                                        <div class="panel-heading text-center">
                                            <h3 class="panel-title"># Empates  <i class="fa fa-handshake-o"></i></h3>
                                        </div>
                                        <div class="panel-body text-center">
                                            {{ comparisonStats.player_2.draw }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="panel panel-danger">
                                        <div class="panel-heading text-center">
                                            <h3 class="panel-title"># Derrotas  <i class="fa fa-times"></i></h3>
                                        </div>
                                        <div class="panel-body text-center">
                                            {{ comparisonStats.player_2.lost }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="panel panel-success">
                                        <div class="panel-heading text-center">
                                            <h3 class="panel-title">Vitoria  <i class="fa fa-trophy"></i></h3>
                                        </div>
                                        <div class="panel-body text-center">
                                            {{ toPercentage(comparisonStats.player_2.won / comparisonStats.total_games) }} %
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="panel panel-warning">
                                        <div class="panel-heading text-center">
                                            <h3 class="panel-title">Empates  <i class="fa fa-handshake-o"></i></h3>
                                        </div>
                                        <div class="panel-body text-center">
                                            {{ toPercentage(comparisonStats.player_2.draw / comparisonStats.total_games) }} %
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="panel panel-danger">
                                        <div class="panel-heading text-center">
                                            <h3 class="panel-title">Derrotas  <i class="fa fa-times"></i></h3>
                                        </div>
                                        <div class="panel-body text-center">
                                            {{ toPercentage(comparisonStats.player_2.lost / comparisonStats.total_games) }} %
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</template>

<script>

    export default{
        props: ['player', 'matches', 'players'],
        data(){
            return{
                compareTo : null,
                playerToCompare : null,

                comparisonStats : {
                    'total_games' : 0,
                    'player_1' : {
                        'won':0,
                        'lost':0,
                        'draw':0
                    },
                    'player_2' : {
                        'won':0,
                        'lost':0,
                        'draw':0
                    }
                }
            }
        },
        methods: {
            compareChanged : function(){
                if(typeof(this.compareTo) !== 'undefined')
                {
                    this.playerToCompare = this.playerWithID(this.compareTo);
                    this.findComparisonStats();
                }
            },

            playerWithID : function(id)
            {
                for( var i = 0; i < this.players.length; i++)
                    if(this.players[i].id == id)
                        return this.players[i];

                return null;
            },

            initComparisonStats : function(){
                this.comparisonStats = {
                    'total_games' : 0,
                    'player_1' : {
                        'won':0,
                        'lost':0,
                        'draw':0
                    },
                    'player_2' : {
                        'won':0,
                        'lost':0,
                        'draw':0
                    }
                };
            },

            findComparisonStats : function()
            {
                this.initComparisonStats();

                if(this.playerToCompare.id == this.player.id)
                {
                    return;
                }

                for ( var i = 0; i < this.matches.length ; i++)
                {
                    var numGoalsPlayer1 = 0;
                    var numGoalsPlayer2 = 0;

                    if(this.matches[i].player_1 != this.player.id && this.matches[i].player_2 != this.player.id)
                        continue;
                    if(this.matches[i].player_1 != this.playerToCompare.id && this.matches[i].player_2 != this.playerToCompare.id)
                        continue;

                    if(this.matches[i].player_1 == this.player.id)
                        numGoalsPlayer1 = this.matches[i].player_1_goals;

                    if(this.matches[i].player_2 == this.player.id)
                        numGoalsPlayer1 = this.matches[i].player_2_goals;

                    if(this.matches[i].player_1 == this.playerToCompare.id)
                        numGoalsPlayer2 = this.matches[i].player_1_goals;

                    if(this.matches[i].player_2 == this.playerToCompare.id)
                        numGoalsPlayer2 = this.matches[i].player_2_goals;

                    this.comparisonStats.total_games = this.comparisonStats.total_games + 1;
                    if(numGoalsPlayer1 == numGoalsPlayer2){
                        this.comparisonStats.player_1.draw = this.comparisonStats.player_1.draw  + 1;
                        this.comparisonStats.player_2.draw = this.comparisonStats.player_2.draw  + 1;
                    }
                    if(numGoalsPlayer1 > numGoalsPlayer2)
                    {
                        this.comparisonStats.player_1.won = this.comparisonStats.player_1.won  + 1;
                        this.comparisonStats.player_2.lost = this.comparisonStats.player_2.lost  + 1;
                    }
                    if(numGoalsPlayer1 < numGoalsPlayer2)
                    {
                        this.comparisonStats.player_1.lost = this.comparisonStats.player_1.lost  + 1;
                        this.comparisonStats.player_2.won = this.comparisonStats.player_2.won  + 1;
                    }
                }
            },
            toPercentage : function(value)
            {
                return (value * 100).toFixed(2);
            }
        }
    }
</script>
