<template>
    <div class="row">
        <h1>Vencedores por Época</h1>
        <div class="col-md-3"  v-for="season in seasonsBestPlayerList()">
            <div class="panel panel-success">
                <div class="panel-heading">Época {{ season.season }}</div>
                <div class="panel-body">{{ season.player.name }}</div>
            </div>
        </div>
    </div>
</template>

<script>

    export default{
        props : ['matches', 'players', 'seasons'],
        data(){
            return{

            }
        },
        watch : {
            seasons : function(){
                this.seasonsBestPlayerList();
            }
        },
        methods: {
            seasonsBestPlayerList : function(){
                var seasonsWinners = [];
                for(var i = 0; i < this.seasons.length; i++)
                {
                    var season = this.seasons[i];
                    if(this.matches[season].length == 0)
                        continue;
                    var bestPlayer = this.bestPlayer(season);
                    seasonsWinners.push({'season' : season, 'player' : bestPlayer});
                }
                return seasonsWinners;
            },

            bestPlayer : function(season)
            {
                var bestP = null;
                var bestPPerc = 0;
                for(var i = 0; i < this.players.length; i++)
                {
                    var playerMat = this.playerMatches(this.players[i].id, this.matches[season]);

                    var total = playerMat.won + playerMat.lost + playerMat.draw;
                    var totalPoints =  playerMat.won * 3 + playerMat.draw;
                    var rate = totalPoints / (total * 3);
                    if(rate > bestPPerc)
                    {
                        bestP = this.players[i];
                        bestPPerc = rate;
                    }
                }

                return bestP;
            },

            playerMatches : function(playerId, results) {
                var matches = {
                    'won' : 0,
                    'lost' : 0,
                    'draw' : 0
                };

                for ( var i = 0; i < results.length ; i++)
                {
                    if( results[i].player_1 != playerId && results[i].player_2 != playerId )
                        continue;

                    if(results[i].player_1_goals == results[i].player_2_goals)
                    {
                        matches.draw = matches.draw + 1;
                        continue;
                    }

                    if( results[i].player_1 == playerId
                    && results[i].player_1_goals > results[i].player_2_goals)
                    {
                        matches.won = matches.won + 1;
                    }

                    else if( results[i].player_1 == playerId
                    && results[i].player_1_goals < results[i].player_2_goals)
                    {
                        matches.lost = matches.lost + 1;
                    }

                    else if( results[i].player_2 == playerId
                    && results[i].player_2_goals > results[i].player_1_goals)
                    {
                        matches.won = matches.won + 1;
                    }

                    else if( results[i].player_2 == playerId
                    && results[i].player_2_goals < results[i].player_1_goals)
                    {
                        matches.lost = matches.lost + 1;
                    }
                }

                return matches;
            }
        }
    }
</script>
